---
layout: default
---
{% assign galleries = site.pages | where: "path", "galleries.html" | first %}

<section class="hero diagonal">
	<div class="container">
		{% if galleries.heading %}
		<h2><a href="{{ site.baseurl }}/galleries/">{{ galleries.heading }}</a> / {{ page.title }}</h2>
		{% endif %}
		{% if page.subtitle %}
			<p class="subtext">{{ page.subtitle }}</p>
		{% endif %}	
	</div>
</section>

<section class="diagonal">
	<div class="container">
		<!-- <p><img src="{% include relative-src.html src=page.image_path %}" class="screenshot"></p> -->
		<div>
			{{ content }}
		</div>
		{% if page.external_url %}
			<p><a href="{{ page.external_url }}">View {{ page.title }} &rarr;</a></p>
		{% endif %}
	</div>
</section>
