---
layout: default
---
<!--	
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/lightbox-2.6.min.js"></script>
<link href="/css/lightbox.css" rel="stylesheet" />
-->
<!-- Lightbox2 gallery image lightbox viewer -->
<!-- local -->
<link rel="stylesheet" href="/css/lightbox.min.css"/>
<!-- online -->
<link rel="stylesheet" href="https://raw.githubusercontent.com/lokesh/lightbox2/dev/dist/css/lightbox.min.css"/>
<!-- Before </body> -->
<!-- local -->
<script src="/js/lightbox-plus-jquery-2.12.0.min.js"></script>
<!-- online -->
<script src="https://raw.githubusercontent.com/lokesh/lightbox2/dev/dist/js/lightbox-plus-jquery.min.js"></script>


<!-- Fancybox gallery image lightbox viewer -->
<!-- In head.html -->
<!-- local --> 
<link rel="stylesheet" href="/css/jquery.fancybox.min.css"/>
<!-- online -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css"/>

<!-- Before </body> -->
<!-- local -->
<script src="/js/jquery-3.6.0.min.js"></script> 
<script src="/js/jquery.fancybox.min.js"></script>
<!-- online -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<!-- SwiperJS image sliders and comparison swipers-->
<!-- In head.html -->
<!-- local -->
<link rel="stylesheet" href="/css/swiperjs-bundle.min.css"/> 
<!-- online -->

<!-- Before </body> -->
<!-- local -->
<script src="/js/swiperjs-element-bundle.min.js"></script> 
<!-- online -->

